<mat-card>
    <table class="table-user">
        <tr>
            <th (click)="changeUsersOrder('firstName')">Name
                @if(orderBy == 'firstName'){<mat-icon>expand_more</mat-icon>}
            </th>
            <th (click)="changeUsersOrder('mail')">E-Mail
                @if(orderBy == 'mail'){<mat-icon>expand_more</mat-icon>}
            </th>
            <th (click)="changeUsersOrder('city')">City
                @if(orderBy == 'city'){<mat-icon>expand_more</mat-icon>}
            </th>
        </tr>
        @for (user of getUsers(); track $index) {
        <tr [class.selectedRowIndex]="selectedRowIndex === $index"> 
            <td [routerLink]="'/user/'+ user.id">{{ user.firstName }} {{user.lastName}}</td>
            <td [routerLink]="'/user/'+ user.id"> {{ user.mail }}</td>
            <td [routerLink]="'/user/'+ user.id">{{ user.city }}</td>
            <button mat-icon-button [matMenuTriggerFor]="(generlMenu$index)" class="pin-top-right-corner" (click)="selectRow($index)">
                <mat-icon>more_vertic</mat-icon>
            </button>
            <mat-menu #generlMenu$index="matMenu" (close)="selectRow(-1)">
                <button mat-menu-item (click)="openDialogUser(user,'all')">Edit <mat-icon>edit</mat-icon></button>
                <button mat-menu-item
                    (click)="openDialogDelet(user.id,'users', (user.firstName+' '+user.lastName))">Delete
                    <mat-icon>delete</mat-icon></button>
            </mat-menu>
        </tr>
        }
    </table>
</mat-card>


<button (click)="openDialogNewUser()" class="fix-bottom-r-corner" mat-fab color="primary" matTooltip="Add new User"
    matTooltipPosition="left">
    <mat-icon>person_add</mat-icon>
</button>