<mat-card>

  <mat-card-title>Add new company</mat-card-title>

  <div class="form-line">
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="Company Name" formControlName="firstCtrl" required>
    </mat-form-field>

    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Select Sector</mat-label>
      <mat-select [formControl]="formData.sector">
        @for (sector of getSectors(); track $index) {
        <mat-option value="{{ sector }}">{{ sector }}</mat-option>
        }
        <mat-option (click)="openDialogAddSector()">
          <button mat-raised-button color="accent"> <mat-icon>add</mat-icon> Add new sector</button>
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <mat-card-subtitle>Address</mat-card-subtitle>
  <div class="form-line">
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" [formControl]="formData.street">
      @if (formData.street.invalid) {
      <mat-error>{{this.formService.getErrorMessage(formData.street,'Street')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Number</mat-label>
      <input matInput placeholder="Number" [formControl]="formData.no">
      @if (formData.no.invalid) {
      <mat-error>{{this.formService.getErrorMessage(formData.no,'No.')}}</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="form-input">
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Zip code</mat-label>
      <input matInput placeholder="24106" [formControl]="formData.zipCode">
      @if (formData.zipCode.invalid) {
      <mat-error>{{formService.getErrorMessage(formData.zipCode,'Zip Code')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Select City</mat-label>
      <mat-select [formControl]="formData.city">
        @for (city of selectableCitys; track $index) {
        <mat-option value="{{ city }}">{{ city }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" [color]="'accent'">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Country" [formControl]="formData.country" [disabled]=" true">
    </mat-form-field>
  </div>


  <mat-card-subtitle>Contact</mat-card-subtitle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
      <mat-icon>account_circle</mat-icon> Reference persons
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table class="table-user">
      <tr>
          <th>Name</th>
          <th>Field</th>
          <th>E-Mail</th>
      </tr>
      <tr>
        <th>Max Musterman</th>
        <th>Boss</th>
        <th>masdm.com</th>
      </tr>
      <tr>
        <th>Max Musterman</th>
        <th>Boss</th>
        <th>masdm.com</th>
      </tr>

    </table>

  </mat-expansion-panel>
  <p>Assigned to: {{shoes.selectedOptions.selected.length}} Users</p>


  <mat-card-subtitle>Assigned</mat-card-subtitle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        select user <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list #shoes>
      @for (shoe of typesOfShoes; track shoe) {
      <mat-list-option>{{shoe}}</mat-list-option>
      }
    </mat-selection-list>

  </mat-expansion-panel>
  <p>Assigned to: {{shoes.selectedOptions.selected.length}} Users</p>

</mat-card>