@import './../../../../styles.scss';


mat-card {
    padding: 24px;
    margin-bottom: 32px;
}

mat-card-title {
    padding-bottom: 12px;
}

mat-card-subtitle {
    font-size: 16px;
}

mat-expansion-panel {
    margin-top: 12px;
    margin-bottom: 22px;

    >mat-expansion-panel-header {
        padding-left: 12px;
    }
}

mat-panel-description {
    >mat-icon {
        margin-right: 12px;
    }
}

.form-line {
    padding-top: 12px;

    mat-form-field {
        width: 60%;

        &:last-child {
            margin-left: 5%;
            width: 35%;
        }
    }

    app-form-selector {
        display: inline-flex;
        margin-left: 5%;
        width: 35%;
    }

}

.form-input {
    padding-top: 12px;

    mat-form-field {
        width: 35%;

        &:last-child {
            margin-left: 5%;
            width: 60%;
        }
    }
}

.contact-headlinie {
    @include dFlex($jc: space-between);
}

.table-user {
    @include dFlex($fd: column);
    border-collapse: collapse;
    overflow: hidden;
    margin-inline: -24px;

    >tr {
        display: flex;
        width: 100%;
        border-bottom: 2px solid $lgWhite;
        position: relative;

        &:first-child {
            border-bottom: 4px solid $lgWhite;
        }

        &:last-child {
            border-bottom: unset;
        }

        &:not(:first-child) {

            &:hover {
                cursor: pointer;
                background-color: $lgBlack;

                .pin-top-right-corner {
                    display: block;
                }

            }
        }

        >th {
            @include dFlex($jc: unset);
            text-align: start;
            width: 100%;
            height: 50px;
            padding-left: 12px;

            &:last-child {
                padding-right: 12px;
            }
        }

        >td {
            @include dFlex($jc: unset);
            height: 48px;
            width: 100%;


            &:first-child {
                padding-left: 12px;
            }

            &:last-child {
                padding-right: 12px;
            }
        }
    }

    .a-bottom-r-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

}

mat-spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.add-company-btn {
    >button {
        width: 100%;
    }
}