@if ( getCompany().name != '') {
<mat-card class="head-card">
  <button mat-icon-button [matMenuTriggerFor]="generlMenu" class="pin-top-right-corner">
    <mat-icon>more_vertic</mat-icon>
  </button>
  <mat-menu #generlMenu="matMenu">
    <button mat-menu-item (click)="openDialogCompany(getCompany(),'general')">Edit <mat-icon>edit</mat-icon></button>
  </mat-menu>

  <img src="./../../../assets/img/user.svg" alt="">
  <div class="info">
    <mat-card-title>{{ getCompany().name }}<mat-chip>{{ getCompany().sector }}</mat-chip></mat-card-title>
    <mat-card-subtitle>Address</mat-card-subtitle>
    <mat-card-content>
      {{ getCompany().street }} {{ getCompany().no }}<br>
      {{ getCompany().country }} {{ getCompany().zipCode }} {{ getCompany().city }}
    </mat-card-content>
  </div>

</mat-card>

<mat-card class="info-card">
  <mat-expansion-panel hideToggle [disabled]="getCompany().contacts.length == 0"
  matTooltip="{{ getTooltipTextContacts() }}">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <mat-icon matBadge="{{ getCompany().contacts.length }}"
          [matBadgeHidden]="getCompany().contacts.length <= 0">contacts</mat-icon>
        <mat-card-title>Contacts</mat-card-title>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table class="info-table m-innerline-24 m-bottom-16">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>E-Mail</th>
        <th>Phone</th>
      </tr>

      @for (contact of getCompany().contacts; track $index) {
      <tr>
        <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        <td>{{ contact.department }}</td>
        <td>{{ contact.mail }}</td>
        <td>{{ contact.phone }}</td>
        <button mat-icon-button [matMenuTriggerFor]="(generlMenu$index)" class="pin-right">
          <mat-icon>more_vertic</mat-icon>
        </button>
        <mat-menu #generlMenu$index="matMenu">
          <button mat-menu-item (click)="openDialogNewContact(getCompany(),'change', $index)">Edit
            <mat-icon>edit</mat-icon></button>
          <button mat-menu-item
            (click)="openDialogDelet(getCompany(),'contact-'+$index, (getCompany().contacts[$index].firstName+' '+getCompany().contacts[$index].lastName))">
            Delete<mat-icon>delete</mat-icon>
          </button>
        </mat-menu>
      </tr>
      }
    </table>
  </mat-expansion-panel>

  <button mat-icon-button class="pin-top-right-corner" (click)="openDialogNewContact(getCompany(),'new', null)">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>

<mat-card class="info-card">
  <mat-expansion-panel hideToggle [disabled]="getCompany().assigned.length == 0"
  matTooltip="{{ getTooltipTextAssignments() }}">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <mat-icon matBadge="{{ getCompany().assigned.length }}"
          [matBadgeHidden]="getCompany().assigned.length <= 0">perm_identity</mat-icon>
        <mat-card-title>Assignments users</mat-card-title>
      </mat-panel-description>
    </mat-expansion-panel-header>
    @if (!getUserDataActiv){
    <table class="info-table m-innerline-24 m-bottom-16">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>E-Mail</th>
        <th>Phone</th>
      </tr>


      @for (user of assignments; track $index) {
      <tr [routerLink]="'/user/'+ currentAssignments[$index]" >
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.phone }}</td>
      </tr>
      }
    </table>
    } @else{
    <mat-spinner></mat-spinner>
    }

  </mat-expansion-panel>


  <button mat-icon-button class="pin-top-right-corner" (click)="openDialogUserselecton(getCompany())">
    <mat-icon>dataset_linked</mat-icon>
  </button>
</mat-card>
}