<h1 mat-dialog-title>{{ data.companyData.name }}</h1>
<mat-dialog-content>Assigned to:</mat-dialog-content>
<app-users-selection-list [selectetIdList]="oldList" #userlist
(selectedUserIdsChange)="checkChange()" [disabled]="loading"></app-users-selection-list>

<div mat-dialog-actions>
  <div>
      <button mat-button (click)="closeDialog()">close</button>
      <button mat-raised-button color="accent"
      [disabled]="!allowAddBtn || loading" (click)="save()">save</button>
  </div>
</div>

@if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }