<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="slidBar.toggle()">
    @if(slidBar.opened){ <mat-icon>menu_open</mat-icon>}
    @else { <mat-icon>menu</mat-icon>}
  </button>
  <span>simple CRM</span>
  <span class="example-spacer"></span>
  <button (click)="test()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>