<h1 mat-dialog-title>{{ dialogTitle }}</h1>

@if (generalInfo) {
<div class="form-column">
  <mat-form-field appearance="outline" [color]="'accent'">
    <mat-label>Company Name</mat-label>
    <input matInput placeholder="Company Name" [formControl]="formData.name" (ngModelChange)="enableSave()">
    @if (formData.name.invalid) {
      <mat-error>{{this.formService.getErrorMessage(formData.name,'Name')}}</mat-error>
      }
  </mat-form-field>

  <app-form-selector [disable]="loading" [form]="'sector'" [formValue]="formData.sector.value"
    (valueOut)="onFormValueChange($event)">
  </app-form-selector>
</div>
<mat-card-subtitle>Address</mat-card-subtitle>
<div class="form-row">
  <mat-form-field appearance="outline" [color]="'accent'">
    <mat-label>Street</mat-label>
    <input matInput placeholder="Street" [formControl]="formData.street" (ngModelChange)="enableSave()">
    @if (formData.street.invalid) {
    <mat-error>{{this.formService.getErrorMessage(formData.street,'Street')}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" [color]="'accent'" class="small">
    <mat-label>Number</mat-label>
    <input matInput placeholder="Number" [formControl]="formData.no" (ngModelChange)="enableSave()">
    @if (formData.no.invalid) {
    <mat-error>{{this.formService.getErrorMessage(formData.no,'No.')}}</mat-error>
    }
  </mat-form-field>
</div>
<div class="form-row">
  <mat-form-field appearance="outline" [color]="'accent'" class="small">
    <mat-label>Zip code</mat-label>
    <input matInput placeholder="24106" [formControl]="formData.zipCode" (ngModelChange)="enableSave()"
      (blur)="checkZipCode()">
    @if (formData.zipCode.invalid) {
    <mat-error>{{formService.getErrorMessage(formData.zipCode,'Zip Code')}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" [color]="'accent'">
    <mat-label>Select City</mat-label>
    <mat-select [formControl]="formData.city">
      @for (city of selectableCitys; track $index) {
      <mat-option value="{{ city }}" (click)="enableSave()">{{ city }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

}


<div class="form-btn" mat-dialog-actions>
  <button mat-button [disabled]="loading" (click)="onNoClick()">close</button>
  <button [disabled]="!allowAddBtn" mat-raised-button color="accent" (click)="saveCompanyData()">save</button>
</div>
@if (loading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}