@import './../../../../styles.scss';

mat-form-field {
    width: 100%;
    padding-bottom: 8px;
}

.form-row {
    @include dFlex($gap: 12px);
    padding-inline: 24px;

    >.small{
        width: 30%;
    }
}

.form-column {
    @include dFlex($fd: column);
    padding-inline: 24px;
}

.form-btn {
    padding-inline: 24px;
}

app-form-selector{
    width: 100%;
}

mat-card-subtitle{
    padding-inline: 24px;
    padding-bottom: 8px;
}



