<mat-card>
  <table class="table-user">
      <tr>
          <th (click)="changeOrder('name')">Name
              @if(orderBy == 'name'){<mat-icon>expand_more</mat-icon>}
          </th>
          <th (click)="changeOrder('sector')">Sector
              @if(orderBy == 'sector'){<mat-icon>expand_more</mat-icon>}
          </th>
          <th (click)="changeOrder('city')">City
              @if(orderBy == 'city'){<mat-icon>expand_more</mat-icon>}
          </th>
      </tr>
      @for (company of getCompanies(); track $index) {
      <tr> 
          <td [routerLink]="'/user/'+ company.id">{{ company.name }}</td>
          <td [routerLink]="'/user/'+ company.id"> {{ company.sector }}</td>
          <td [routerLink]="'/user/'+ company.id">{{ company.city }}</td>
          <!-- <button mat-icon-button [matMenuTriggerFor]="(generlMenu$index)" class="pin-top-right-corner" (click)="selectRow($index)">
              <mat-icon>more_vertic</mat-icon>
          </button>
          <mat-menu #generlMenu$index="matMenu" (close)="selectRow(-1)">
              <button mat-menu-item (click)="openDialogUser(user,'all')">Edit <mat-icon>edit</mat-icon></button>
              <button mat-menu-item
                  (click)="openDialogDelet(user.id,'users', (user.firstName+' '+user.lastName))">Delete
                  <mat-icon>delete</mat-icon></button>
          </mat-menu> -->
      </tr>
      }
  </table>
</mat-card>


<button class="fix-bottom-r-corner" mat-fab color="primary" matTooltip="Add new company"
  matTooltipPosition="left" routerLink="new_Company">
  <mat-icon>add_business</mat-icon>
</button>
