@import './../../app.component.scss';


.selectedRowIndex {
    background-color: $lgBlack;
}

.info-table {

    >tr {

        >th {

            &:hover {
                cursor: pointer;
                background-color: $lgBlack;
            }
        }

        >td {
            padding-left: 12px;
        }
    }



}