<mat-card>
  <table class="info-table">
      <tr>
          <th (click)="changeOrder('name')">Name
              @if(orderBy == 'name'){<mat-icon>expand_more</mat-icon>}
          </th>
          <th (click)="changeOrder('sector')">Sector
              @if(orderBy == 'sector'){<mat-icon>expand_more</mat-icon>}
          </th>
          <th (click)="changeOrder('city')">City
              @if(orderBy == 'city'){<mat-icon>expand_more</mat-icon>}
          </th>
      </tr>
      @for (company of getCompanies(); track $index) {
      <tr [class.selectedRowIndex]="selectedRowIndex === $index"> 
          <td [routerLink]="'/company/'+ company.id">{{ company.name }}</td>
          <td [routerLink]="'/company/'+ company.id"> {{ company.sector }}</td>
          <td [routerLink]="'/company/'+ company.id">{{ company.city }}</td>
          <button mat-icon-button [matMenuTriggerFor]="(generlMenu$index)" class="row-top-right-corner" (click)="selectRow($index)">
              <mat-icon>more_vertic</mat-icon>
          </button>
          <mat-menu #generlMenu$index="matMenu" (close)="selectRow(-1)">
              <button mat-menu-item
                  (click)="openDialogDelet(company.id,'companies', (company.name))">Delete
                  <mat-icon>delete</mat-icon></button>
          </mat-menu>
      </tr>
      }
  </table>
</mat-card>


<button class="fix-bottom-r-corner" mat-fab color="primary" matTooltip="Add new company"
  matTooltipPosition="left" routerLink="new_Company">
  <mat-icon>add_business</mat-icon>
</button>
